# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Go module files
go.sum

# Directories
vendor/
bin/
pkg/

# IDE and editor specific files
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# Logs
*.log

# Dependency directories
Godeps/

# Environment variables file
.env

sampleprompt.txt
